   p {
    color: blue;
   }
   span{
        color: green;    
   }
   /* body p span. specifikus */

   #modern {
            color: yellow;
   }

   .golyo {
            color: black;
   }

   /* body span az a klasszikust is lilává tenné  */
               body>span {
                           color: purple;
               }