#foci {
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-weight: normal;
}

#football {
    /* font-size: 50px; */
    /* font-size: 200%; */
    font-size: 2.5em;
    background-color: lightblue;
    display: inline-block;
    /* width: 50%; */
    /* width:  0.5em; */
}

p {
    font-size: 10px;
}

#futball {
    color: red;
    font-size: 2.5rem;
}

html {
    font-size: 2px;
}

#USA {
    font-variant: small-caps;
}

#IFAB {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

#labsport {
    letter-spacing: -0.5px;
}

p {
    margin: 40px 0px;
}

#kozepso {
    line-height: 5em;
    text-align: justify;
}


#FIFA {
    text-transform: capitalize;
}

h1 {
    font-size: 20px;
    text-align: center;
    /* text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px; ; */
    text-decoration: dashed blue line-through 2px;
}
