body {
    background-color: lightblue;
}

#piros {
        background-color: red;
        width: 150px;
}
#kek {
    background-color: blue;
    width: 75%;
}

#felso_doboz {
      background-color: lightgray;
}

#zöld {
    background-color: green;
    width: 75vw;
}
/* vw az a képernyőnek valahány százalékát tölti ki */

#lila {
    background-color: purple;
    height: 100px;
}

#citrom{
    background-color: yellow;
    height: 20vh;
}